services:
  backend:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
    # This guarantees the container can reach your local Windows MongoDB
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build: ./client
    ports:
      - "3000:80" # Maps localhost:3000 to the Nginx container's port 80
    depends_on:
      - backend